
<!DOCTYPE html>
<html>
  <head>
    <title>We Read Truth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag image_url('wrt_logo_white.png') %>

    <script src='https://kit.fontawesome.com/cac26a4ea7.js' crossorigin='anonymous'></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet"> 
   
    <script type='text/javascript'>
      window.logo = "<%= image_url('wrt_banner.png') %>";
      window.search_icon = "<%= image_url('search_icon.png') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
